@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>


<div class="row" style="height:80vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:flex">

        <!--my-auto-->
        <div class="col-7 imageBox">
            <img src="~/images/siteContent/nissan.jpg" />
        </div>
        <div class="col-5 content">
            <h1>About Us</h1>
            <p>
                Contrary to
            </p>
            <div class="contentImage">
                <img src="~/images/siteContent/shop.jpg" />
            </div>

        </div>

    </div>
    <div class="col-1"></div>
</div>

<style>
    .imageBox {
        min-height: 100%;
        display: flex;
        filter: drop-shadow(8px 8px 13px rgba(14, 30, 37, 0.50));
    }

        .imageBox > img {
            max-width: 100%;
            margin: auto;
            object-fit: contain;
            clip-path: polygon(3.5% 100%,3.5% 60%,60% 0,100% 0,100% 40%,40% 100%);
            filter: grayscale(100%);
            transition: all 0.4s;
        }

            .imageBox > img:hover {
                filter: grayscale(0);
            }

    .content {
        text-align: center;
        padding: 25px;
    }

    .contentImage {
        filter: drop-shadow(8px 8px 13px rgba(14, 30, 37, 0.50));
    }

    .content > h1 {
        margin-bottom: 20px;
        color: #f7b801;
        filter: none;
    }

    .content > p {
        line-height: 1;
        margin-bottom: 49px;
        filter: none;
    }

    .contentImage > img {
        max-width: 87%;
        filter: grayscale(100%);
        object-fit: contain;
        clip-path: polygon(0 22%,22% 0,100% 0,100% 0,100% 78%,78% 100%,0 100%);
        transition: all 0.4s;
    }

        .contentImage > img:hover {
            filter: grayscale(0);
        }

</style>