@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<p>Exemplo de Imagem que não existe</p>
<img src="https://webx2022.blob.core.windows.net/images/NoPhoto-round.jpg" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto;" />
<img src="https://webx2022.blob.core.windows.net/images/NoPhoto.jpg" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto;" />