@* Stock Update *@

@model Webx.Web.Models.StockViewModel

@{
    
    //ViewData["Title"];
    ViewData["BreadCrumb"] = "Edit Stock";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<style>
    .gridView {
        border-color: #edebe9;
        border-radius: 1px;
        border-style: none solid solid;
        border-width: 1px;
        display: block;
        position: relative;
        width: auto;
        background-color: #fff;
    }

    .form-group {
        display: grid;
    }

    #submit {
        border: solid 1px;
        border-color: #46BAED;
        color: #fff;
        background-color: #46BAED;
        width: 100%;
        transition: ease-in-out 0.3s;
    }

        #submit:hover {
            background-color: #edebe9;
            color: #000;
        }

    #return {
        border: solid 1px;
        border-color: #46BAED;
        color: #fff;
        background-color: #46BAED;
        width: 100%;
        transition: ease-in-out 0.3s;
    }

        #return:hover {
            background-color: #edebe9;
            color: #000;
        }

    .imageStyle {
        min-height: 500px;
        min-width: 500px;
        position: Absolute;
        overflow: hidden;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 0%;
        display: flex;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
</style>

<!--Div que permite dar espaçamento entre ejs grid e topo-->
<div class="container-fluid" style="min-height:25px;background-color: #f4f6f9;">
</div>

<div class="container-fluid gridView" style="min-height:90%">

    <div class="row">
        <div class="col-md-12" style="margin-top: 15px;">
            <h4 style="text-align:center">Edit Stock:  @Model.Product.Name</h4>
            <hr />
        </div>
    </div>

    <div class="row" style="padding:25px;min-height: 715px;">
        <div class="col-md-6">

            <form enctype="multipart/form-data" asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Product.Images" />

                <input type="hidden" asp-for="Store.Name" />
                <input type="hidden" asp-for="Store.Email" />
                <input type="hidden" asp-for="Store.Address" />
                <input type="hidden" asp-for="Store.PhoneNumber" />
                <input type="hidden" asp-for="Store.ZipCode" />
                <input type="hidden" asp-for="Store.City" />
                <input type="hidden" asp-for="Store.Country" />
                <input type="hidden" asp-for="Product.Name" />
                <input type="hidden" asp-for="Product.Price" />
                <input type="hidden" asp-for="Store.IsOnlineStore" />
                <input type="hidden" asp-for="Product.Description" />
                <input type="hidden" asp-for="Product.Brand.Name" />
                <input type="hidden" asp-for="Product.Category.Name" />



                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label asp-for="Product.Name" class="control-label"></label>
                            <input asp-for="Product.Name" class="form-control" disabled="disabled" />
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Product.Price" class="control-label"></label>
                            <input asp-for="Product.Price" style="text-align:right" class="form-control" disabled="disabled" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Product.Description" class="control-label"></label>
                            <textarea disabled="disabled" style="resize: none;" class="form-control" rows="4">@Model.Product.Description</textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label asp-for="Store.Name" class="control-label"></label>
                            <input asp-for="Store.Name" class="form-control" disabled="disabled" />
                            <span asp-validation-for="Store.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Store.IsOnlineStore" class="control-label"></label>
                            <input asp-for="Store.IsOnlineStore" style="text-align:center;height: 37px;" disabled="disabled" />
                            <span asp-validation-for="Store.IsOnlineStore" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="MinimumQuantity" class="control-label"></label>
                            <input asp-for="MinimumQuantity" style="text-align:right" class="form-control" />
                            <span asp-validation-for="MinimumQuantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label">Stock Quantity</label>
                            <input asp-for="Quantity" style="text-align:right" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="margin-top:100px;">
                    </div>
                </div>

                @* style="margin-top: 60px;*@

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <a id="return" asp-action="ViewAllAlert" asp-controller="Stock" asp-route-isActive="true" class="btn"><i class="fas fa-arrow-left"></i> Back</a>
                            
@*                            @if (ViewData["Title"].ToString() == "View All Stock")
                            {
                                <a id="return" asp-action="ViewAll" asp-controller="Stock" asp-route-isActive="true" class="btn"><i class="fas fa-arrow-left"></i> Back</a>
                            }
                            else
                            {
                                <a id="return" asp-action="ViewAllAlert" asp-controller="Stock" asp-route-isActive="true" class="btn"><i class="fas fa-arrow-left"></i> Back</a>
                            }*@
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input id="submit" type="submit" value="Save" class="btn" />
                        </div>
                    </div>
                </div>

            </form>

        </div>

        <div class="col-md-6">

            <div class="box">
                <div class="imageStyle" style="background:Url(@Model.ImageFirst) no-repeat center;background-size: cover;"></div>
                @*<div class="imageStyle" style="background-size: cover;"></div>*@
            </div>

        </div>

    </div>
</div>
