@model Webx.Web.Models.ShopViewModel
@{
    ViewData["Title"] = "Not Authorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .center{
        margin: auto;
        display: grid;
    }

    .imgStyle{            
            max-height: 500px;
    }


</style>

<section class="section-b-space" style="padding-bottom: 40px;">
        <div class="container" style="display:flex">
            <div class="center">
                <img src="~/images/images/401.png" class="imgStyle"/>
                <a href="javascript:history.go(-1)" class="btn btnPersonalizado" >
                 <i class="fas fa-hand-point-left"></i>
                  Return Back         
                </a>
            </div>
        </div>
       

</section>

