@model Webx.Web.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


 <!-- Recover password Section Start -->
    <div class="login-section">
        <div class="materialContainer">
            <div class="box">                
                    <form method="post">

                        <div class="login-title">
                            <h2>Recover Password</h2><h4><br /><br /> To complete the proccess please add the email address you wish to recover the password for.</h4>
                        </div>                        

                        <div class="input">
                            <label asp-for="Email" style="line-height:0px"></label>
                            <input asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger" style="line-height:3"></span>
                        </div> 
                        
                        <div style="text-align:center;margin-top:20px">
                            <h4 class="text-success">@ViewBag.Message</h4>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>

                        <div class="button login">
                            <button type="submit">
                                <span>Recover Password</span>
                                <i class="fa fa-check"></i>
                            </button>
                        </div>

                    </form>                

            </div>
        </div>
    </div>
    <!-- Recover password Section End -->