@model Webx.Web.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "WebX";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!-- Recover password Section Start -->
    <div class="login-section">
        <div class="materialContainer">
            <div class="box">    
                
                 @if (string.IsNullOrEmpty(ViewBag.Message))
                 {
                     <form method="post">
                             <div asp-validation-summary="All" ></div>
                             <input type="hidden" asp-for="Token" />
                             <input type="hidden" asp-for="UserName" />

                             <div class="login-title">
                                 <h2>Recover Password</h2><h4><br /><br /> To complete the proccess please add a new password.</h4>
                             </div>                        

                             <div class="input">
                                 <label asp-for="Password" style="line-height:0px"></label>
                                 <input asp-for="Password" type="password">
                                 <span asp-validation-for="Password" class="text-danger" style="line-height:3"></span>
                             </div> 
                             
                             <div class="input">
                                 <label asp-for="ConfirmPassword" style="line-height:0px"></label>
                                 <input asp-for="ConfirmPassword" type="password">
                                 <span asp-validation-for="ConfirmPassword" class="text-danger" style="line-height:3"></span>
                             </div> 

                             <div style="text-align:center;margin-top:20px">
                                 <h4 class="text-success">@ViewBag.Message</h4>
                                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                             </div>

                             <div class="button login">
                                 <button type="submit">
                                     <span>Recover Password</span>
                                     <i class="fa fa-check"></i>
                                 </button>
                             </div>

                     </form>  
                 }
                 else
                 {
                     <div class="login-title">
                            <h4>@ViewBag.Message</h4>
                     </div>
                     <div class="btn btnPersonalizado">
                           <a  asp-action="Login" asp-controller="Account" style="color: #fff;">
                               Back to Login Page                              
                           </a>
                     </div>
                 }

                              

                 </div>
        </div>
    </div>
    <!-- Recover password Section End -->

