<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="cid:{0}" type="image/x-icon">
    <title>WebX | Invoice </title>
    <link  href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"  rel="stylesheet">
</head>

<body style="margin: 20px auto; text-align: center; margin: 0 auto; width: 650px; font-family: 'Rubik', sans-serif; background-color: #e2e2e2; display: block; ">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
        style="padding: 0 30px; background-color: #fff; margin-top: 30px; box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353); width: 100%; -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);">
        <tbody>
            <tr>
                <td>
                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="text-align: left; margin-top: 30px" width="100%" >
                        <tr>
                            <td style="text-align: center;">
                                <!--Order Image-->
                                <img src="cid:{1}" alt="" style="margin-bottom: 30px; width: 70%;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!--customer name-->
                                <p style="font-size: 14px; margin: 15px 0;"><b>Hi {2},</b></p>
                                <p style="font-size: 14px; margin: 15px 0;">
                                    Thank you for your purchase, we would like to request 5 minutes of your time to give us your opinion about the product and the service!<br />
                                    <br /> Best regards
                                    <br /> WebX
                                </p>                               
                               
                            </td>
                        </tr>
                    </table>

                    <table cellpadding="0" cellspacing="0" border="0" align="left" style="width: 100%;margin-top: 10px;margin-bottom: 10px;">                        
                        <tbody>
                            <tr>
                                <td style="background-color: #eff2f7;padding: 15px;letter-spacing: 0.3px;width: 50%;">
                                    <a href="{3}" class="btn btn-primary btn-lg" style="border-radius:0px">Click to Review Order</a>                                    
                                </td>                                
                            </tr>
                        </tbody>
                    </table>                   
                </td>
            </tr>
        </tbody>
    </table>

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #eff2f7; color: #232323; padding: 40px 30px; text-align: center; margin-top: 30px ">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" class="footer-social-icon text-center" align="center"   style="margin: 8px auto 20px;">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" style="text-decoration: none;">
                                <!--images/fb.png-->
                                <img src="cid:{4}" alt="" style="font-size: 25px; margin: 0 18px 0 0;width: 22px;">                                     
                            </a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" style="text-decoration: none;">
                                <!--images/twitter.png-->
                                <img src="cid:{5}" alt="" style="font-size: 25px; margin: 0 18px 0 0;width: 22px;">                                     
                            </a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" style="text-decoration: none;">
                                <!--images/insta.png-->
                                <img src="cid:{6}" alt="" style="font-size: 25px; margin: 0 18px 0 0;width: 22px;">                                     
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>